alabaster
appdirs
Babel
coverage
coveralls
docopt
docutils
imagesize
Jinja2
MarkupSafe
mock
OnionBalance
packaging
pbr
pexpect
ptyprocess
py
Pygments
pyparsing
pytest==3.10.1
pytest-cov
pytest-mock
pytz
requests
six
snowballstemmer
Sphinx
